<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>diy</string>
	<string>bar</string>
	<string>music</string>
	<string>drama</string>
	<string>exhibition</string>
	<string>food</string>
	<string>shopping</string>
	<string>movie</string>
	<string>party</string>
	<string>sport</string>
	<string>charity</string>
	<string>business</string>
</array>
</plist>
